.Estimates {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 0;
    text-align: left
    /*NOTE MARGINS ARE handled.. 1. in app-container disableGutters. 2. set in nav.js Box sx = paddingleft: * ;*/
    /*padding-right: 40px;*/
}